body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10 30%;
  width:100vw;
  height:100vh;
  line-height: 64px;
 }

h1{
  color: white;
  position: relative;
  font-size: 5em;
  margin-bottom: 1%;
  top: -10%;
  cursor: default;
 }
 
a{
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  z-index: 10;
 }
 
.question-mark{
  border: 1px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  opacity: 60%;
  
}

.credit{
  width: 30%;
  height: 30%;
  font-size: 10pt;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255,255,255,0.7);
  position: fixed;
  left: -4%;
  bottom: -6%;
  line-height: 2;
  cursor:default;
}
.area-for-hover{
  width: 40px;
  height: 40px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 5%;
  bottom: 5%;
  cursor: default;
}
 .area-for-hover:hover{
  transition:0.3s;
  opacity: 0%;
}
 .guide{
  width: 30%;
  height: 30%;
  font-size: 10pt;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: fixed;
  right: 5%;
  bottom: 10%;
  transition: 0.3s;
 }
 
 .guide.hidden{
  opacity: 0%;
  font-size: 0px;
  transition: 0.3s;
 }

 .key-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }
 .icon-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 14pt;
  border: 2px solid;
  box-shadow: 1px 1px 4px 2px #555555;
  text-align: center;
  padding: 4px 4px;
  padding-bottom: 5px;
  margin-right: 15px;
 }

 canvas {
  display: block;
  background-color: #000;
  position: absolute;
  top:0;

}